<div style="max-width: 500px; margin: 0 auto;">

<h1 style="padding: 15px;"> {{ data.title }}</h1>
<h2 mat-dialog-subtitle>{{ data.year }}</h2> 
<div mat-dialog-content style="padding-bottom: 50px;">
  <p><strong>Synopsis </strong><br> {{ data.synopsis }} </p>
  
  <p><strong>{{ data.genre }}</strong> <br> {{ data.genreDescription }}</p>
  
  <p><strong>By {{ data.director }}</strong> <br> {{ data.directorBio }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="margin-bottom: 20px;">Close</button>
</div>

</div>