<h1 mat-dialog-title>{{ data.title }}</h1>
<h1 mat-dialog-title>{{ data.year }}</h1>
<div mat-dialog-content>
  <!-- Movie Image -->
  <img *ngIf="data.Image" [src]="data.Image" alt="Movie Image" style="width: 100%; max-height: 200px; object-fit: cover; margin-bottom: 10px;">
  
  <!-- Genre Section -->
  <p><strong>Genre:</strong> {{ data.genre }}</p>
  <p><strong>Genre Description:</strong> {{ data.genreDescription }}</p>

  <!-- Director Section -->
  <p><strong>Director:</strong> {{ data.director }}</p>
  <p><strong>Director Bio:</strong> {{ data.directorBio }}</p>

  <!-- Synopsis Section -->
  <p><strong>Synopsis:</strong></p>
  <p>{{ data.synopsis }}</p>
</div>

<!-- Dialog Actions -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>